apiVersion: apps/v1
kind: Deployment
metadata:
  name: alive-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: alive-app
  template:
    metadata:
      labels:
        app: alive-app
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
        resources: 
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"